# Python cache directories and files
*/__pycache__/*
*.py[cod]
*$py.class

# Specific app cache directories
store/__pycache__/
playground/__pycache__/
tags/__pycache__/
commercialstreet/__pycache__/
likes/__pycache__/
store_custom/__pycache__/

media/***/*/
/static/
general.log

/db.sqlite3
./celerybeat-schedule.db