[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
django-debug-toolbar = "*"
redis = "*"
celery = "*"
flower = "*"
django-redis = "*"
whitenoise = "*"

[dev-packages]
djoser = "*"
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
model-bakery = "*"
django-silk = "*"
locust = "*"

[requires]
python_version = "3.12"
