[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-filter = "*"
django-cors-headers = "*"
mysqlclient = "*"
djangorestframework = "*"
drf-nested-routers = "*"
djangorestframework-simplejwt = "*"
redis = "*"
celery = "*"
flower = "*"
django-redis = "*"
whitenoise = "*"
gunicorn = "==20.1.0"
dj-database-url = "*"
django-silk = "*"
djoser = "*"
django-templated-mail = "*"
django-debug-toolbar = "*"
django-debug-panel = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
model-bakery = "*"
django-silk = "*"
locust = "*"

[requires]
python_version = "3.12"
